@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|VT323|Oswald');

@font-face {
  font-family: AlfaSlabOne;
  src: url(AlfaSlabOne.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none; 
  -o-user-select: none;
  user-select: none;
}

.simon-row {
  display: table-row;
}

.simon-btn {
  position: relative;
  display: table-cell;
  cursor: pointer;
  box-shadow: inset 0px 0px 30px #222;

}

#container {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background: url(wood.png);  
}

#buttons {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-spacing: 30px;
  display: table;
  background-color: #252525;
  overflow: hidden;
  height: 80vmin;
  width: 80vmin;
  border-radius: 100%;
  background-color: #252525;
  box-shadow: 0px 0px 12px #222;
}

#scoreboard {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 30vmin;
  width: 30vmin;
  font-size: 30px;
  font-family: verdana;
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 100%;
  z-index: 100;
  background: radial-gradient(circle, #fff 15%, #969696);
  border: 10px solid #252525;
  box-shadow: 0px 0px 30px #222;
}

#logo {
  font-size: 35px;
  color: black;
  font-family: 'Alfa Slab One', AlfaSlabOne, Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 3vmin;
  cursor: default;
}

.exponent {
  position: relative;
  top: -15px;
  font-size: 15px;
}

#menu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 8vmin;
  width: 20vmin;
}

#menu > * {
  float: left;
}

#score {
  height: 6vmin;
  border: 5px solid black;
  background-color: darkred;
  width: 100%;
  border-radius: 10%;
  overflow: hidden;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

#score h6 {
  display: block;
  font-size: 20px;
  width: 100%;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: default;
}

.off {
  color: darkred;
}

.on {
  color: red;
}

.score-box {
  position: relative;
  width: 6vmin;
  height: 100%;
}

.score-box-lrg {
  width: 8vmin;
}

.menu-btn {
  height: 2.5vmin;
  width: 2.5vmin;
  border: .5vmin solid black;
  border-radius: 100%;
  box-shadow: 0px 2px 3px #888;
  cursor: pointer;
  margin-top: 5px!important;
}

.menu-btn:active {
  box-shadow: 0 1px 1px #888;
  top: 2px;
}

#start {
  background-color: red;
  cursor: pointer;
}

#strict {
  background-color: yellow;
  cursor: pointer;
}

.label {
  margin-top: 5px;
  font-size: 12px;
  color: black;
}

.light {
  height: 8px;
  width: 8px;
  background-color: darkred;
  border: 1px solid black;
  border-radius: 100%;
}

.hidden {
  visibility: hidden;
}

.middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.center {
  position: relative;
  left:0;
  right: 0;
  margin: 0 auto;
}

#green {
  background-color: #8bc34a;
  border-top-left-radius: 100%;
}

#red {
  background-color: #f44336;
  border-top-right-radius: 100%;
}

#blue {
  background-color: #2196f3;
  border-bottom-left-radius: 100%;
}

#yellow {
  background-color: #ffeb3b;
  border-bottom-right-radius: 100%;
}

/* Responsive Styles */

@media screen and (max-height:900px), (max-width:900px) {
  #logo {
    font-size: 25px;
    margin-top: 2vmin;
  }

  .exponent {
    top: -10px;
    font-size: 12px;
  }
}

@media screen and (max-height:800px), (max-width:800px) {
  #buttons {
    border-spacing: 25px;
  }

  .label {
    margin-top: 3px;
    font-size: 10px;
  }
}

@media screen and (max-height:700px), (max-width:700px) {
  #buttons {
    height: 92vmin;
    width: 92vmin;
  }

  #scoreboard {
    height: 45vmin;
    width: 45vmin;
  }

  #menu {
    width: 35vmin;
    height: 12vmin;
  }

  .score-box {
    position: relative;
    width: 10vmin;
    height: 100%;
  }

  .score-box-lrg {
    width: 15vmin;
  }

  #score {
    height: 10vmin;
  }

  .menu-btn {
    height: 5vmin;
    width: 5vmin;
    border: .8vmin solid black;
  }

  #logo {
    font-size: 25px;
    margin-top: 2vmin;
  }

  .exponent {
    top: -8px;
    font-size: 14px;
  }

  .label {
    margin-top: 5px;
    font-size: 12px;
  }
}

@media screen and (max-height:600px), (max-width:600px) {
  #buttons {
    border-spacing: 20px;
  }
}

@media screen and (max-height:550px), (max-width:550px) {
  #menu {
    font-size: 10px;
    width: 35vmin;
  }

  #scoreboard {
    height: 45vmin;
    width: 45vmin;
  }
}

@media screen and (max-height:450px), (max-width:450px) {
  #logo {
    font-size: 16px;
    margin-top: 1vmin;
  }

  .exponent {
    top: -5px;
    font-size: 10px;
  }

  .menu-btn {
    margin-top: 3px;
  }

  #score {
    border-width: 3px;
  }

  #score h6 {
    font-size: 15px;
  }

  .label {
    margin-top: 3px;
    font-size: 10px;
  }
}

@media screen and (max-height:400px), (max-width:400px) {
  #buttons {
    border-spacing: 10px;
  }

  .light {
    height: 5px;
    width: 5px;
  }

  #score {
    border-width: 2px;
  }

  #score h6 {
    font-size: 10px;
  }

  .label {
    margin-top: 2px;
    font-size: 8px;
  }
}
